[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest/
[submodule "test/testrunner/NeuWillowTestingLib/googletest"]
	path = test/testrunner/NeuWillowTestingLib/googletest
	url = https://github.com/google/googletest.git
[submodule "spdlog"]
	path = spdlog
	url = https://github.com/gabime/spdlog.git
